.architect {
  background: url(../img/architect.jpg) center (center/cover) no-repeat;
  width: 100%;
  height: auto;
}
.architect__container {
  background: rgba(38, 41, 46, 0.68);
  //opacity: 0.7;
  // min-height: 641px;
}
.architect__wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1210px;
  margin: 0 auto;
  @media screen and (max-width: 1360px) {
    max-width: 1100px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1199px) {
    max-width: 960px;
    margin: 0 auto;
  }
  @media screen and (max-width: 991px) {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {
    max-width: 650px;
    margin: 0 auto;
  }
  @media screen and (max-width: 575px) {
    max-width: 470px;
  }
  @media screen and (max-width: 468px) {
    max-width: 300px;
  }
}
.architect__block {
  margin-top: 120px;
  max-width: 545px;
  @media screen and (max-width: 991px) {
    max-width: 390px;
    margin: 0 auto;
    padding-top: 85px;
  }
  @media screen and (max-width: 468px) {
    max-width: 280px;
    padding-top: 55px;
  }
  p {
    font-family: $regular;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    text-align: left;
    @media screen and (max-width: 991px) {
      font-size: 25px;
      text-align: center;
    }
  }
  @media screen and (max-width: 468px) {
    font-size: 20px;
  }
}
.architect__link {
  display: grid;
  margin-top: 484px;
  margin-left: 250px;
  margin-bottom: 50px;
  @media screen and (max-width: 1360px) {
    padding-left: 250px;
  }
  @media screen and (max-width: 991px) {
    margin: 0 auto;
    padding-top: 85px;
    padding-left: 250px;
  }
  @media screen and (max-width: 575px) {
    width: 100%;
    padding-left: 0px;
  }
  a {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: $white;
    text-decoration: underline;
    text-decoration-color: $white;
    padding-bottom: 23px;
    padding-left: 290px;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding-left: 0px;
    }
  }
  a:hover {
    text-decoration-color: $braun;
  }
}
