.project__wrap {
  margin-left: 140px;
  padding-bottom: 152px;
  width: 1235px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1360px) {
    max-width: 1100px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1199px) {
    max-width: 950px;
    margin: 0 auto;
  }
  @media screen and (max-width: 991px) {
    max-width: 740px;
    margin: 0 auto;
  }
  @media screen and (max-width: 767px) {
    max-width: 500px;
    margin: 0 auto;
  }
  @media screen and (max-width: 575px) {
    max-width: 409px;
  }
  @media screen and (max-width: 468px) {
    max-width: 300px;
    //padding-bottom: 24px;
  }
  @media screen and (max-width: 320px) {
    max-width: 290px;
  }
  .line__group.projects {
    margin-right: 25px;
    margin-bottom: -152px;
    // margin-right: 0px;
    // @media screen and (max-width: 1360px) {
    //   margin-right: 0px;
    // }
  }
}

.project__container {
  h2 {
    padding-top: 98px;
    padding-left: 0px;
    @media screen and (max-width: 468px) {
      padding-top: 28px;
      //padding-bottom: 24px;
    }
  }
  .line {
    width: 343px;
    padding-left: 40px;
    @media screen and (max-width: 767px) {
      width: 200px;
    }
  }
}

.pine_text {
  color: $black;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  padding-left: 0px;
  @media screen and (max-width: 991px) {
    text-align: center;
  }
}
.projects__block {
  padding-top: 92px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  @media screen and (max-width: 468px) {
    padding-top: 28px;
  }
}
.projects__foto {
  margin: 0 auto;
  // img{
  //   width: 335px;
  //   height: 250px;
  // }
}
.name {
  font-family: $bold;
  font-size: 22px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  color: $black;
  @media screen and (max-width: 468px) {
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
  }
}
.descr {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  color: $black;
  @media screen and (max-width: 468px) {
    font-size: 14px;

    line-height: 19px;
  }
}
.line__group.projects {
  margin-right: 24px;
  margin-bottom: -162px;
  // @media screen and (max-width: 1360px) {
  //   margin-right: 24px;
  // }
  // @media screen and (max-width: 991px) {
  //   margin-right: 0px;
  // }
}
